header{
    text-align: center;
}
ul{
    width: 460px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
li{
    float: left;
    border-right: 1px solid sienna;

}

a{
    display: block;
    padding: 0 28px;
    color: white;
    text-decoration: none;

}
a:hover, .active a{
    background-color: blue;
}
img{
    float: right;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  }
  .fa-facebook {
  background: #3B5998;
  color: white;
  }

  .fa-twitter {
  background: #55ACEE;
  color: white;
  }

  .fa-linkedin {
  background: #007bb5;
  color: white;
  }

  .fa-github {
  background: #2c4762;
  color: white;
  }

  .box {

  border: 5px solid rebeccapurple;
  background-color: lightgray;
  border-style: double;
  padding: 20px;
  margin: 40px;
  width: 720px;
  height: 440px;
  font-size: 20px;
}
.title_header{
    background-color:crimson;
    padding: .5em;
    color:#2aa59f;
    font-size: 5em;
    font-family: cursive;
    text-align: center;
  }
  
  
  .gallery{
    max-width: 25em;
    min-height: 25em;
    border: 1px hidden;
    border-radius: 50%;
    opacity: 0.5;
    padding: 1em;
    image-orientation: auto;
  }
  
  .gallery:hover{
    opacity: 1;
  }

  .background{
    background-image: url(../HTML/bg.jpeg);
    background-repeat: no-repeat; 
  }
  
  span{
    text-transform: uppercase; 
  }